<h1>マイページ</h1>
<div>
  <h3>name: <%= @user.name %></h3>
  <h3>email: <%= @user.email %></h3>
  <%= link_to "編集",edit_user_registration_path %>
</div>

<% @lists.each do |list| %>

  <p>タイトル</p>
  <span>
   <%= link_to list.title, list_path(list.id) %>,<%= list.user.name %>
  </span>
  
<% end %>
<%= paginate @lists %>